// Variables
$header-color: #004d40;
$section-color: #1b5e20;
$btn-color: #388e3c;
$hover-color: #4caf50;
$text-color: #FFFFFF;
$btn-hover-opacity: 0.8;
$font-stack: 'poppins', sans-serif;

// Variables

